<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden auth-wrapper">
  <div class="flex flex-column align-items-center justify-content-center w-full px-3 sm:px-0">
    <div class="border-auth w-full max-w-md">
      <div class="w-full max-w-md mx-auto surface-card py-6 px-4 sm:px-8" style="border-radius: 24px">
        <div class="text-center mb-5">
          <img src="assets/layout/images/logo_vrsystem2.png" alt="Logo VR System" height="80" class="mb-3">
        </div>

        <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
          <label class="block text-900 text-lg font-medium mb-2">Nova Senha</label>
          <input type="password" name="password" pInputText class="w-full p-3 mb-3" [(ngModel)]="formData.password" required />

          <label class="block text-900 text-lg font-medium mb-2">Confirmar Nova Senha</label>
          <input type="password" name="password_confirmation" pInputText class="w-full p-3 mb-4" [(ngModel)]="formData.password_confirmation" required />

          <!-- <p-toast [life]="5000" /> -->

          <button type="submit" pButton pRipple class="w-full p-3 text-lg flex align-items-center justify-content-center">
            <i class="pi pi-spin pi-spinner" style="font-size: 1.8rem" *ngIf="isLoading"></i>
            <span *ngIf="!isLoading">Redefinir Senha</span>
          </button>
        </form>

        <a routerLink="/auth/login" class="font-medium no-underline text-right cursor-pointer mt-4 block"
          style="color: var(--primary-color)">Voltar para Login</a>
      </div>
    </div>
  </div>
</div>
