<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden auth-wrapper">
    <div class="flex flex-column align-items-center justify-content-center w-full px-3 sm:px-0">
        <div class="border-auth w-full max-w-md">
            <div class="w-full max-w-md mx-auto surface-card py-6 px-4 sm:px-8" style="border-radius: 24px">
                <div class="text-center mb-5">
                    <img src="assets/layout/images/logo_vrsystem2.png" alt="Logo VR System" height="80" class="mb-3">
                </div>

                <div>
                    <form #form="ngForm" (ngSubmit)="onSubmit(form)" (keydown.enter)="onSubmit(form)" novalidate>
                        <label for="email" class="block text-900 text-lg font-medium mb-2">E-mail</label>
                        <input id="email" name="email" type="email" placeholder="Digite seu e-mail" pInputText
                            class="w-full p-3 mb-4" ngModel required email autocomplete="email">

                        <p class="text-sm text-600 mb-4">
                            <strong> Digite seu e-mail e enviaremos um link para redefinir sua senha. </strong>
                        </p>

                        <p-toast [life]="5000"/>

                        <button id="send" type="submit" pButton pRipple class="w-full p-3 text-lg flex align-items-center justify-content-center">
                            <i class="pi pi-spin pi-spinner" style="font-size: 1.8rem" *ngIf="isLoading"></i>
                            <span *ngIf="!isLoading">Enviar link de recuperação</span>
                        </button>
                    </form>

                    <a routerLink="/auth/login" class="font-medium no-underline text-right cursor-pointer mt-4 block"
                        style="color: var(--primary-color)">Voltar para Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
